<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6a421855-5796-402b-8148-452c9170dadc/resourceGroups/myResourceGroup/providers/Microsoft.Web/sites/mobileapp110619</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mobileapp110619.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobileapp110619.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mobileapp110619</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mobileapp110619</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ZUMOAPPNAMEService.Models.ZUMOAPPNAMEContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:werlasql.database.windows.net,1433;Initial Catalog=mySampleDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:werlasql.database.windows.net,1433;Initial Catalog=mySampleDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ZUMOAPPNAMEService.Models.ZUMOAPPNAMEContext, ZUMOAPPNAMEService" MigrationConfiguration="ZUMOAPPNAMEService.Migrations.Configuration, ZUMOAPPNAMEService" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ZUMOAPPNAMEService.Models.ZUMOAPPNAMEContext-Web.config Connection String">
      <ParameterValue>Server=tcp:werlasql.database.windows.net,1433;Initial Catalog=mySampleDatabase;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ZUMOAPPNAMEService.Models.ZUMOAPPNAMEContext" />
  </ItemGroup>
</Project>